<div style="height: 100vh" class="d-flex justify-content-center align-items-center">
    <div class="text-center align-self-center" *ngIf="callingStatus === 'calling'">
        <div class="center">
            <div class="pulse">
                <img height="250" [src]="userData.photo" class="rounded-circle" alt="">
            </div>
        </div>
        <h2 class="mt-5 text-black-50 mb-5"><strong>{{ userData.sender }}</strong> Calling <strong>in
                {{userData.name}}</strong>....</h2>
        <button type="button" (click)="cancelCall()" class="btn btn-lg btn-danger rounded-pill px-5">
            <i class="fa-solid fa-phone" style="transform: rotate(133deg)"></i> Cancel Call
        </button>
    </div>

    <div>
        <video id="local_video" autoplay="autoplay" #local_video playsinline></video>
        <video id="remote_video" autoplay #remote_video playsinline></video>

        <div class="call-controls text-center align-self-center p-3 bg-primary bg-opacity-10"
            *ngIf="callingStatus === 'connected'">
            <button (clickCallback)="toggleLocalAudio()"></button>
            <button (clickCallback)="toggleLocalVideo()"></button>

            <button (click)="cancelCall()" class="btn btn-lg btn-danger rounded-circle mx-1">
                <i class="fa-solid fa-phone" style="transform: rotate(133deg)"></i>
            </button>
        </div>
    </div>

    <div *ngIf="callingStatus === 'rejected'">
        <h1>Call Rejected, closing the window</h1>
    </div>
</div>